body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ul-style {
  list-style: none;
  align-items: start;
  display: flex;
}
.li-style {
  margin: 2px 1px 0px 1px;
  background-color: black;
  padding: 4px;
  font-size: medium;
  font-weight: bold;
  color: #ffff;
  width: 100px;
  text-align: center;
}
